.portfolio-catalog {
  background-color: var(--backgraund-color);
  padding-bottom: var(--section-pb);
}

.portfolio-navigation {
  background-color: var(--backgraund-color);
  padding-top: var(--section-pt);
  padding-bottom: 50px;
}

.portfolio-navigation__list {
  display: flex;
  justify-content: center;
}

.portfolio-navigation__link:not(:last-child) {
  margin-right: 8px;
}

.portfolio-navigation__button {
  background-color: var(--secondary-backgraund-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 187% */
  height: 38px;
  border: none;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--accent-colour);
    color: var(--backgraund-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
