:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-colour: #2196F3;
    --text-color: #212121;
    --secondary-text-color: #757575;
    --backgraund-color: #FFFFFF;
    --secondary-backgraund-color: #F5F4FA;
    --dark-backgraund-color: #2F303A;
    --section-pt: 94px;
    --section-pb: 94px;
}
